<div class="shadow-lg p-2 mb-5 bg-black rounded carousel-container" id="carousel" >
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img id="carousel-image" [src]="images[0]" alt="Random first slide">
          <div class="carousel-caption">
            <h3 id="titulo-carousel">First slide label</h3>
            <p id="subtitulo-carousel">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img id="carousel-image" [src]="images[1]" alt="Random second slide">
          <div class="carousel-caption">
            <h3 id="titulo-carousel">Second slide label</h3>
            <p id="subtitulo-carousel">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img id="carousel-image" [src]="images[2]" alt="Random third slide">
          <div class="carousel-caption">
            <h3 id="titulo-carousel">Third slide label</h3>
            <p id="subtitulo-carousel">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <img id="carousel-image" [src]="images[3]" alt="Random third slide">
            <div class="carousel-caption">
              <h3 id="titulo-carousel">Third slide label</h3>
              <p id="subtitulo-carousel">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
      </ngb-carousel>
        
</div>


