#navbar  {
    height: 40px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 10px;
    background-color: rgba(12, 47, 122, 0.815);


}

.nav-link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    font-style:oblique
}

div.navbar-header{
height: 50px;
}

